.body-back {
  background-color: #A9D0F5 !important;
  background: url(../img/fondo-arequipa-yanahuara.jpg) no-repeat;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left 150px;


}

.cabecera {
  margin-top: 10px;
  height: 230px;
}

.cabecera-imagen {
  border-radius: 15px;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
  font-style: italic;
  color: white;
}

.boton-navegacion {
  padding-right: 4px !important;
}

.contenido {
  margin-top: 25px;
}

.boton-redes-sociales {
  width: 48px;
  height: 48px;
}

.comentario {
    background-color: white;
}

.comentario-img {
  width: 190px;
  height: 190px;
  float:left;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.formulario {
  background-color: #4887FC;
  color: white;
  height: 400px;
}

.input-field label {
    color: white;
  }

  .input-field input[type=text]:focus + label {
    color: white;
  }

  .input-field input[type=text]:focus {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
  }

  .input-field input[type=text].valid {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
  }

  .input-field input[type=text].invalid {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
  }

  .input-field .prefix.active {
    color: white;
  }
